<!-- /templates/customers/login.liquid -->
  <div class="cream-background">
    <div class="login_background">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 offset-lg-1">
            <div class="note form-success" id="ResetSuccess" style="display:none;">
              {{ 'customer.recover_password.success' | t }}
            </div>
            <div id="CustomerLoginForm">
              {% form 'customer_login' %}
              <h1 class="login_title bold">{{ 'customer.login.title' | t }}</h1>
              <h6>Don't have an account? {{ 'layout.customer.create_account' | t | customer_register_link }}</h6>
            </div>
          </div>

          <div class="col-lg-5 offset-lg-1 login_form_spacing">
            {{ form.errors | default_errors }}

            <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
            <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" autofocusautocorrect="off" autocapitalize="off" autofocus>

            {% if form.password_needed %}
              <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
              <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
            {% endif %}

            <p>
              <input type="submit" id="login_submit_btn" class="btn btn--full" value="{{ 'customer.login.sign_in' | t }}">
            </p>
            {% if form.password_needed %}
              <h6><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></h6>
            {% endif %}

          {% endform %}
          {% comment %}
            JS shows/hides this form in timber.loginForms()
          {% endcomment %}
          <div id="RecoverPasswordForm" style="display: none;">

            <h2>{{ 'customer.recover_password.title' | t }}</h2>
            <p>{{ 'customer.recover_password.subtext' | t }}</p>

            <div class="form-vertical">
              {% form 'recover_customer_password' %}

                {{ form.errors | default_errors }}

                {% comment %}
                  Assign variable to be used after timber.init() is run in theme.liquid
                {% endcomment %}
                {% if form.posted_successfully? %}
                  {% assign resetPassword = true %}
                {% endif %}

                <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
                <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

                <p>
                  <input type="submit" class="btn btn--full" value="{{ 'customer.recover_password.submit' | t }}">
                </p>
                <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
              {% endform %}
            </div>
            {% comment %}
              If accounts are set as optional, the following will be shown as an option
              during checkout, not on the default /login page.
            {% endcomment %}
            {% if shop.checkout.guest_login %}
              <hr>

              <h3>{{ 'customer.login.guest_title' | t }}</h3>

              {% form 'guest_login' %}
                <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
              {% endform %}
            {% endif %}


          </div>
        </div>
          <div class="col-lg-1 offset-lg-1 hide-xs" id="no-padding">
            <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/login_pink.png?1200706841395422416" alt="background pattern">
          </div>
      </div>
      <div class="row">
        <div class="col-lg-3 offset-lg-3 hide-xs">
          <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/login_blue.png?1687196550512096759" alt="background pattern">
        </div>
      </div>
    </div>
  </div>
